<div class='flip flip-vertical'>
    <div class='font'>
        <img src='{{image}}' alt='image' />
        <h3 class='text-shadow'>Keyword: {{keyword}}</h1>
    </div>
    <div class='back'>
        <h3>{{title}}</h2>
        <p>Description: {{description}}</p>
        <a href='/catalog/{{_id}}' class='details'>Details</a>
    </div>
</div>